.date{
	float: left;
	width: 165px;
	font-size: 1.2em;
	padding-left: 0px;
	margin: -5px 0 0 0;
}
* { 
	margin: 0; 
	padding: 0; 
}
html { 
	height: 101%;
	background: #f2f2f2 url('images/bg-light-0002.gif'); 
	
}
body {
	background:#F0F0F0;
	font-size: 62.5%;
	padding-bottom: 65px;
	max-width: 555px;
	margin: auto;
}

h1 { 
	font-family: 'PT Serif', serif; 
	color: #454545; 
	font-size: 3.6em; 
	margin-bottom: 6px; 
}
h2 { 
	font-family: 'PT Serif', serif;  
	color: #484848; 
	font-size: 2.5em; 
	margin-bottom: 5px; 
	text-align:center;
}
h3 { 
	font-family: 'PT Serif', serif; 
	color: #484848; 
	font-weight: bold; 
	font-size: 1.9em; 
	margin: 30px 0 10px 135px;
}
h4 { 
	font-family: 'PT Serif', serif;  
	color: #656565; 
	font-weight: bold; 
	font-size: 1.6em; 
	margin: 20px 0 20px 0;
	text-align:center;
}

p { 
	font-family: 'Noto Serif', serif; 
	color: #565656; 
	font-size: 1.6em; 
	line-height: 1.4em; 
	margin-bottom: 15px; 
	padding-left: 35px; 
}

small { 
	font-family: 'Noto Serif', serif;
	color: #656565; 
	font-size: 1.5em; 
	display: block; 
	margin-bottom: 6px; 
}
ul {
	display: block;
	list-style: none;
}
ul li { 
	padding-left: 45px; 
	list-style-type: none; 
	vertical-align: top; 
	background: url('images/li.png') 25px 5px no-repeat; 
	margin-bottom: 5px; 
	font-family: 'Noto Serif', serif; 
	color: #666; 
	font-size: 1.6em; 
	line-height: 2.3em; 
}
a { 
	color: #09177e; 
	text-decoration: none; 
}
a:hover { 
	text-decoration: underline; 
}


header { 
	width: 100%; 
}

.about { 
	float: left; 
	margin-bottom: 12px; 
}

.n-left { 
	display: block; 
	float: left; 
	margin-right: 73px; 
}
.n-right { 
	display: block; 
	float: left;
}
.na{
	width: 100%;
	overflow: hidden;
	display: inline-block;
}
.exp div p:nth-child(2n+1) {
	font-size: 1.2em;
	font-weight:bold;	
}

@media only screen and (max-width: 768px) {
.n-left, .n-right, .exp{width:100%;}
	h1 { font-size: 3.4em;text-align:center;}
	h2 { font-size: 3.2em;}
	h3 { font-size:2.3em;}
	h4 {font-size:2em;}
	p {font-size:2.3em; padding-left: 5px;}
	small {font-size:1.9em;}
	a{font-size:1.1em;}
	ul li {font-size:2.4em; background: url('images/li_s.png') 30px 15px no-repeat;}
	.date{font-size:1.4em;width: 190px;}
}


@media only screen and (max-width: 480px) {
	.n-left, .n-right, .exp{width:100%;}
	h1 { font-size: 3.1em;text-align:center;}
	h2 { font-size: 2.9em; margin:0; }
	h3 { font-size:2.1em;margin:0; border-top:1px solid #FFFFFF;}
	h4 {font-size:2em; margin:0;}
	p {font-size:2em; padding-left: 5px;}
	small {font-size:1.6em;}
	a{font-size:1.4em;}
	ul li {font-size:2.1em; background: url('images/li_s.png') 30px 15px no-repeat;}
	.date{float: none; width:190px;}
	.exp h4:last-child{border-bottom:1px solid #FFFFFF;}
	.about h3{border:none;}
}

@media only screen and (max-width: 320px) {	
	.n-left, .n-right, .exp{width:100%;}
	h1 { font-size: 2.8em;text-align:center;}
	h2 { font-size: 2.6em; margin:0; }
	h3 { font-size:1.8em;margin:0; border-top:1px solid #FFFFFF;}
	h4 {font-size:1.7em; margin:0;}
	p {font-size:1.7em; padding-left: 5px;}
	small {font-size:1.3em;}
	a{font-size:1.5em;}
	ul li {font-size:1.8em; background: url('images/li_s.png') 30px 15px no-repeat;}
	.date{font-size: 1.4em; float: none; width:190px;}
	.exp h4:last-child{border-bottom:1px solid #FFFFFF;}
	.about h3{border:none;}
	
}
