body{
	max-width:970px;
	min-width:230px;
	margin:30px auto;
	font-size:16px;
	font-family:Arial, Verdana, sans-serif;
	padding:0 40px;

}
.header{
	display:inline;
}
.item {
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

.content{
	background: #f6e9c1;
	
	display: inline-block;
	border-radius: 10px;
	max-width: 68%;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;	
}
.contact{
	margin-bottom:30px;
}
.footer{
	background:#e6d0c1;
	width:100%;
	padding:30px 0;
	border-radius: 0 0 10px 10px;
}
select, input[type=text]{
	font-size:16px;

}

.a{
	width:99%;
	height:24px;
	padding-top:15px;		
}
/*.content .a:nth-child(6){
	padding-top:37px;
}*/
.b{
	height: 22px;
	margin-left: 197px;
}
.c{
	width:99%;
	height:40px;
	padding-top:21px;	
}
.d{
	width:50%;
	margin-left:27.5%;
}
.a label, .r label{
	margin-left:22px;
	width: 175px;
	float: left;		
}

.a input{
	width:50% ;
	float: left;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.b input[type=checkbox]{
	margin:5px 0 0 0;
	height:15px;
	width:15px;
	float:left;
}
.d input[type=checkbox]{
	height:15px;
	width:15px;
}
.d input{
	float:left;
}
.d label{
	display:table-cell;
}
.radio label{
	vertical-align:top;
	margin-left:2px;
}

.radio{
	float: left;	
}
.radio input{
	margin-left:0;
	height:14px;
}
.change{
	width: 130px;
	float: left;
	margin-left:5px;
}
.select{
	padding:19px 0;
	-webkit-appearance: none;
}
.conh2{
	margin-bottom:0;
	margin-left:197px;	
}
.button{
	margin-left: 27.5%;
	margin-top:10px;
	border-bottom-color: #196ebb;
}
button{
	width: 278px;
	height:54px;
	border-radius: 20px;
	border: none;
	padding: 7px 30px;
	font-size: 14px;
	font-weight: bold;
	color:#b3aeaa;
	background:url("../img/button.png");
}
button h2{
	margin:0;
}
.inf{
	width:17.8%;
	float:right;
	margin-right:9%;
}
.inf p{
	margin:4px 0;
	font-size: 13px;
}
.inf h3 {
	font-size:16px;
	margin:0;
}
@media only screen and (max-width: 864px) {	

	.inf {width:100%; float:left; margin:0 0 10px 0;}
	.content{
	max-width:80%
}

@media only screen and (max-width: 690px) {	


	
.content{
	max-width:100%
}
.contact input[type=text]{
	margin: 4px 0 8px 5%;
}
input[type=text]{
	width:90%;
	margin: 4px 0 0 5%;
}
.a label, .r label {
margin: 10px 0 5px 5%;
float:none;
}
.b{
	margin:0;
}
.b input[type="checkbox"] {
    margin:5px 0px 0px 5%;
}

.a{
	padding-top: 35px;
}
.content .a:first-child{
	padding-top:15px;
}
.a label{
	width:27%;
}
.radio{
	width: 90%;
	margin-top:2px;
	margin:5px 0px 15px 5%;
}
.sel{
	margin: 4px 0 0 5%;
}
.conh2{
	margin: 10px 0px 5px 5%;
}
.contact .a{
	padding-top: 10px;
}
.footer{
	margin-top: 60px;
}
.d{
	margin: 0 0 5px 5%;
}
.button{
	margin: 0 0 5px 5%;
}
.select {
    padding: 30px 0px;
}
.r{
	margin-top:10px;
}
